.menu-homepage
    .container
        .row
            .col-md-8.col-lg-8
                ul.menu-homepage__list
                    li.menu-homepage__item
                        a(href="#").menu-homepage__link Tài khoản của tôi
                    li.menu-homepage__item
                        |-
                    li.menu-homepage__item
                        a(href="#").menu-homepage__link Trạng thái đơn hàng
                    li.menu-homepage__item
                        |-
                    li.menu-homepage__item
                        a(href="#").menu-homepage__link Danh sách ưa thích
                    li.menu-homepage__item
                        |-
                    li.menu-homepage__item
                        a(href="#").menu-homepage__link Giỏ hàng
                    li.menu-homepage__item
                        |-
                    li.menu-homepage__item
                        a(href="#").menu-homepage__link Đăng nhập
                    li.menu-homepage__item
                        |-
                    li.menu-homepage__item
                        a(href="#").menu-homepage__link Đăng ký
            .col-md-4.col-lg-4
                .search-box-homepage
                    input(type="text" placeholder="Tìm kiếm ở đây ...").search-box-homepage__button
                    i.search-box-homepage__icon.fas.fa-search
