.btn {
    width: 8rem;
    border-radius: 0;
    height: 2em;
    font-size: 1.3em;
    padding: 0.3em;

    &--primary {
        background-color: $color-black;
        color: $color-white;

        &:hover {
            background-color: $color-primary;
        }
    }

    &__add {
        margin-bottom: 1em;
    }

    &__send {
        width: 7rem;
        padding: 0.5em 0;
        height: 100%;
        border-radius: 7px;
    }

    &__form {
        border-radius: 0;
        font-size: 1.3em;
        padding: 0.5em 1em;
        background-color: $color-black;
        color: $color-white;
        border: none;

        &:hover {
            background-color: $color-light-blue;
        }
    }

    &__del {
        width: 4em;
    }
}

.btn-send-arrow {
    cursor: pointer;
    background-color: $color-black;
    color: $color-white;
    padding: 0.5rem 1rem;
    position: relative;
    font-size: 1.2em;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        display: inline-block;
        margin-right: -1.3em;
        width: 0;
        height: 0;
        border-top: 1.3em solid transparent;
        border-bottom: 1.4em solid transparent;
        border-left: 1.3em solid #000;
        margin-top: -3px;
    }

    &:hover {
        text-decoration: none;
        color: $color-white;

    }
}