.form-control {
    border-radius: 0;
}

.form-check {
    display: flex;
    padding-left: 0;
    align-items: center;
}

.form-check-label {
    font-size: 1.3em;
    margin-left: 1em;
}

.btn__form {
    margin-right: 1.5em;
}