.side-menu {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;

    &__item {
        margin-bottom: 1rem;
    }

    &__pattern {
        width: 30%;
        display: block;
    }

    &__list {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        margin-top: 1.3em;
    }

    &__heading--main {
        font-size: 1.4em;
    }

    &__heading--sub {
        margin: 0.5em 0;
        font-size: 1.3em;
        color: $color-gray;
    }

    &__link {
        font-size: 1.2em;
        color: $color-gray;

        &:hover {
            color: $color-primary;
            text-decoration: none;
        }
    }

    &__compare {
        font-size: 1.2em;
        margin-top: 1.3em;
        color: $color-gray;
    }

    &__tag {
        margin-top: 1.3em;

        &--item {
            padding: 0.3em 0.4em;
            display: inline-block;
            border: solid 1px $color-light-gray;
            text-align: center;

            margin: 0 0.5em 0.5em 0;
        }
    }

    &__img {
        width: 100%;
    }
}