/*------------------------------------*/
/* FONT FACE */
/*------------------------------------*/
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'UTM-Alpine-KT';
    src: url('../fonts/UTM/UTM-Alpine-KT.ttf');
}

@font-face {
    font-family: 'UTM-Aquarelle';
    src: url('../fonts/UTM/UTM-Aquarelle.ttf');
}

@font-face {
    font-family: 'UTM-Caviar';
    src: url('../fonts/UTM/UTM-Caviar.ttf');
}

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/lobster/Lobster-1.4.ttf');
}

@font-face {
    font-family: 'UVFDidot';
    src: url('../fonts/UVFDiDot/UVF-Didot.ttf');
}

@font-face {
    font-family: 'UVFAphroditePro';
    src: url('../fonts/UVFDiDot/UVF-Aphrodite-Pro.ttf');
}

@font-face {
    font-family: 'UVFBlendaScript';
    src: url('../fonts/UVFDiDot/UVF-Blenda-Script.ttf');
}